*{
	margin: 0px;
	padding:0px ;
}
.main{
	height: 100px;
	width: 100%;
	background-color: #140921;
	float: left;
}
.logo{
	height: 100px;
	width: 25%;
	float: left;
}
.logo img{
	height: 60px;
	width: 60%;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
}
.heading{
	height: 100px;
	width: 50%;
	float: left;
	
}
.heading ul{
	list-style-type: none;
}
.heading ul li{
	margin-top:40px ;
	margin-left: 50px;
	display: inline-block;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.heading ul .active{
	color: orange;
}
.heading ul li a{
	color: white;
	text-decoration: none;
}
.heading ul li:hover{
	color: orange;
	text-decoration: none;
}
.contact{
	height: 100px;
	width: 25%;
	float: left;
}
.contact p{
	color: white;
	float: left;
	margin-top: 40px;

}
.contact p span{
	color: orange ;
}
.heading button {
	height: 60px;
	width: 60px;
	background-image:linear-gradient(to right,purple,#B520A3,#B520A3);	
	display: none;
}

@media (max-width:667px){
	.logo{
		height: 50px;
		width: 50%;
		margin-left: 0px;
	}
	.logo img{
		width: 90%;
	}
	.heading ul{
		display: none;
	}
	.heading {
		height: 100px;
		width: 50%;
		
	}
	.contact{
		display: none;
	}
	.heading button {
		display: inline-block;
		margin-top:20px ;
		margin-left:150px ;
	}
}
.body{
	height: 600px;
	width: 100%;
	background-image: url(image-1-1.png);
	background-color: rgba(30,11,37,1.0);
	float: left;
}
.name{
	height: 600px;
	width: 60%;
	
	float: left;
}
.body_heading1{
	margin-top: 40px;
	margin-left: 50px;
	color: white;
	float: left;
	font-size: 60px;
	font-style: bold;
}
.body_heading2{
	height: 70px;
	width:100%;
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	float: left;
	font-size: 20px;
	font-style: bold;
}
.body_heading2 h2{
	
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	float: left;
	font-size: 20px;
	font-style: bold;
}
.heading_btn .btn1{
	height: 50px;
	width:30%;
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	float: left;
	font-style: bold;
	border-radius: 30px;
	border: none;
	background-image:linear-gradient(to right,purple,#B520A3,#B520A3); ;
}
.heading_btn .btn2{
	height: 50px;
	width:30%;
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	float: left;
	font-style: bold;
	border-radius: 30px;
	border: 3px solid orange;
	background-color:transparent ;
}
.form{
	height: 600px;
	width: 40%;
	
	float: left;
}
.form_box{
	height: 500px;
	width: 80%;
	
	float: left;
	margin-top: 50px;
	margin-left: 10px;
	
}
.input1 {
	height: auto;
	width: 50%;
	float: left;
}
.input1 input{
	height:50px;
	width: 90%;
	margin-top: 40px;
	margin-left: 5px;
	background-color: transparent;
	float: left;
	color: white;
	border: none;
	text-align: center;
	border-bottom: 2px solid white;
}
.input2 input{
	height:50px;
	width: 40%%;
	margin-top: 40px;
	margin-left: 5px;
	background-color: transparent;
	float: left;
	color: white;
	border: none;
	text-align: center;
	border-bottom: 2px solid white;
}
.input3 input{
	height:50px;
	width: 50%;
	margin-top: 40px;
	margin-left: 20px;
	background-color: transparent;
	float: left;
	color: white;
	border: none;
	text-align: center;
	border-bottom: 2px solid white;
}
.form_box button{
	height: 50px;
	width:80%;
	margin-top: 50px;
	margin-left: 50px;
	color: white;
	float: left;
	font-style: bold;
	border-radius: 30px;
	border: 2px solid orange;
	background-image:linear-gradient(to right,purple,#B520A3,#B520A3); 
}
@media (max-width:667px){
	.body{
		height: auto;
	}
	.name{
		height: auto;
		width: 100%;
	}
	.name .body_heading1{
		font-size: 40px;
	}
	.form{
		width: 100%;
		margin-left: 10px;
	}
}
.section_2{
	height: 790px;
	width:100%;
	background-color:#140921 ;
	float: left;
	margin-top: -70px;
}
.section_box{
	height: 350px;
	width: 80%;
	margin-top: -70px;
	margin-left: 130px;
	
	float: left;
}
.section_box1{
	height: 320px;
	width: 22%;
	margin-top: 15px;
	margin-left: 35px;
	background-color: #431032;
	float: left;
	border-radius: 20px;
}
.section_box1 img{
	margin-top: 15px;
	margin-left: 15px;
}
.section_box1 h1{
	font-style: bold;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 30px;
	color: white;
}
.section_box1 h3{
	font-style: bold;
	margin-left: 5px;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}
@media (max-width:667px)
{
	.section_2{
		height:1650px;
		background-color:#140921 ;
	}
	.section_box{
		margin-left:0px ;
	}
	.section_box1{
		height: 300px;
		width: 100%;
		margin-top: 5px;
	    margin-left: 50px;
	}
}
.sub_section2{
	height: 470px;
	
	width: 70%;
	float: left;
	margin-top: 20px;
	margin-left: 15%;
}
.section_line{
	height: 100px;
	width: 50%;
	float: left;
	border-left: 1px solid gray;
	margin-left: 520px;
	margin-top: 30px;
}
.content_name h1{
	color: white;
	float: left;
	margin-top: 200px;
	position: absolute;
	top: 860px;
	left: 600px;
	font-weight: bold;
	font-size: 60px;
}
.marquee{
	height: 100px;
	width: 70%;
	margin-left: 15%;
	margin-top: 110px;
	float: left;
}
@media (max-width:667px)
{
	.sub_section2{
		float: left;
		margin-top: 880px;
		margin-left: 10px;
	}
	.section_line{
		height: 80px;
		float: left;
		margin-left: 220px;
	}
	.content_name h1{
		position: absolute;
		top: 1970px;
		left: 120px;
		font-weight: bold;
		font-size: 50px;	
	}
	.marquee{
		margin-left: 15%;
		width: 100%;
		margin-top: 50px;
		float: left;
	}
}
.about_us{
	height: 720px;
	width: 100%;
	background-color: #3d0f41;
	float: left;
}
.part1{
	height: 720px;
	width: 50%;
	
	float: left;
}
.line{
	width: 10%;
	float: left;
	margin-left: 200px;
	margin-top: 118px;
	border-bottom: 2px solid #8b2eb2;
}
.about_us1{
	width: 100%;
	height: 130px;
	float: left;
	
}
.part1 h1{
	float: left;
	margin-top: 100px;
	margin-left: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.part1 p{
	float: left;
	margin-top: 20px;
	margin-left: 200px;
	color: white;
	font-weight: bolder;
	font-size: 40px;
}

/*.part1 ul{
	display: flex;
	flex-direction: column;
}*/
.part1  li{
	color: gray;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 160px;
	float: left;
	padding-left:100px ;
	list-style-type: none;
}
.get{
	height: 50px;
	width: 10%;
	background-image:linear-gradient(to right,purple,#B520A3,#B520A3) ;
	float: left;
	border-radius:50px ;
	border: 2px solid violet;
	position: absolute;
	display: block;
	color: white;
	margin-top: 550px;
	margin-left: 200px;
}
.part1 .reach{
	height: 50px;
	width: 10%;
	float: left;
	color: white;
	background-color: transparent;
	border-radius:50px ;
	border: 2px solid orange;
	position: absolute;
	display: block;
	margin-top: 550px;
	margin-left: 400px;
}
.part2{
	height: 720px;
	width: 50%;
	
	float: left;
}
.part2 img{
	margin-left: 100px;
	margin-top: 100px;
}
@media (max-width:667px){
	.part1{
		height: auto;
		width: 100%;
	}
	.line{
		margin-left: 100px;
		margin-top:50px ;
	}
	.about_us1{
		height: 50px;
		
	}
	.part1 h1{
		margin-left: 50px;
		margin-top:40px ;
	}
	.part1 p{
		margin-left: 50px;
		margin-top:20px ;
		font-size: 25px;
	}
	.part1  li{
		margin-left: 40px;
		margin-top:20px ;
		font-size: 15px;
	}
	.get{
		height: 50px;
		width: 100px;
		float: left;
		margin-top: 430px;
		margin-left: 50px;
	}
	.part1 .reach{
		height: 50px;
		width: 100px;
		float: left;
		margin-top: 430px;
		margin-left: 350px;
	}
	.part2{
	height: 450px;
	width: 100%;
	background-color:#3d0f41 ;
	float: left;
	}
	.part2 img{
		height: 350px;
		width: 50%;
		float: left;
		margin-top: 80px;
	}
}
.Portfolio{
	height: 1400px;
	width: 100%;
	float: left;
	background-color: #140921;
}
.P_title{
	height: 100px;
	width: 100%;
	float: left;
	background-color: #140921;
}
.p_suntitle{
	height: 100px;
	width: 100%;
	float: left;
	
}
.line1{
	width: 10%;
	float: left;
	margin-left: 200px;
	margin-top: 90px;
	border-bottom: 2px solid #8b2eb2;
}
.Portfolio h1{
	float: left;
	margin-top: 70px;
	margin-left:10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.Portfolio p{
	float: left;
	margin-top: 20px;
	margin-left: 200px;
	color: white;
	font-weight: bolder;
	font-size: 40px;
}
.p_content{
	height: 100px;
	width: 100%;
	float: left;
	
}
.p_content h3{
	margin-top: 0px; 
	margin-left: 200px;
	float: left;
	color: gray;
	font-weight: bold;
}
.p_content button{
	height: 50px;
	width: 200px;
	float: left;
	margin-left: 300px;
	border: 2px solid red;
	border-radius: 50px;
	background-color: transparent;
	color: white;
}
.p_line{
	height: 50px;
	width: 100%;
	float: left;
	
}
.line2{
	width: 75%;
	float: left;
	margin-left: 200px;
	margin-top: 0px;
	border-bottom: 2px solid purple;
}
.p_head1{
	height: 30px;
	width: 100%;
	float: left;
	
}
.p_head1 h2{
	color: white;
	text-transform: uppercase;
	float: left;
	font-size: 20px;
	margin-left: 250px;
}
.p_head2{
	height: 50px;
	width: 100%;
	float: left;
	
}
.p_head1 h2{
	color: white;
	text-transform: uppercase;
	float: left;
	font-size: 20px;
	margin-left: 250px;
}
.p_head2 h2{
	color: white;
	text-transform: uppercase;
	float: left;
	font-size: 20px;
	margin-left: 500px;
	margin-top: 20px;
}
.p_box{
	height: 800px;
	width: 70%;
	background-color: pink;
	margin-left: 15%;
	margin-top: 40px;
	float: left;
}
.Portfolio img{
	height: 400px;
	width: 33.33%;
	float: left;
}
.Portfolio h4{
	margin-top: 20px; 
	margin-left: 900px;
	float: left;
	color: white;
	font-weight: bold;
}
.line3{
	width: 10%;
	float: left;
	margin-left: 0px;
	margin-top: 40px;
	border-bottom: 3px solid white;
}
@media  (max-width:667px){
	.Portfolio{
		height: auto;
		width: 100%;
		float: left;
	}
	.P_title{
	height: 100px;
	width: 100%;
	float: left;
	
	}
	.p_suntitle{
		height: 100px;
		width: 100%;
		float: left;
		
	}
	.line1{
		width: 10%;
		float: left;
		margin-left: 100px;
		margin-top: 90px;
		border-bottom: 2px solid #8b2eb2;
	}
	.Portfolio h1{
		float: left;
		margin-top: 70px;
		margin-left:10px;
		color: white;
		font-weight: bold;
		font-size: 20px;
	}
	.Portfolio p{
		float: left;
		margin-top: 20px;
		margin-left: 50px;
		color: white;
		font-weight: bolder;
		font-size: 30px;
	}
	.p_content{
	height: 100px;
	width: 100%;
	float: left;
	
	}
	.p_content h3{
		margin-top: 0px; 
		margin-left: 50px;
		float: left;
		color: gray;
		font-weight: bold;
	}
	.p_content button{
		/*height: 50px;
		width: 200px;
		float: left;
		margin-left: 150px;
		margin-top: 10px;
		border: 2px solid red;
		border-radius: 50px;
		background-color: transparent;
		color: white;*/
		display: none;
	}
	.p_line{
		height: 50px;
		width: 100%;
		float: left;
		
	}
	.line2{
		width: 80%;
		float: left;
		margin-left: 50px;
		margin-top: 0px;
		border-bottom: 2px solid purple;
	}
	.p_head1{
		height: 50px;
		width: 100%;
		float: left;
		
	}
	.p_head1 h2{
		color: white;
		text-transform: uppercase;
		float: left;
		font-size: 5px;
		margin-left: 10px;
	}
	.p_head2{
		height: 50px;
		width: 100%;
		float: left;
		
	}
	.p_head1 h2{
		color: white;
		text-transform: uppercase;
		float: left;
		font-size: 20px;
		margin-left: 50px;
	}
	.p_head2 h2{
		color: white;
		text-transform: uppercase;
		float: left;
		font-size: 20px;
		margin-left: 500px;
		margin-top: 20px;
	}
	.p_box{
		height: 800px;
		width: 80%;
		background-color: pink;
		margin-left: 10%;
		margin-top: 40px;
		float: left;
	}
	.Portfolio img{
		height: 400px;
		width: 33.33%;
		float: left;
	}
	.Portfolio h4{
		margin-top: 20px; 
		margin-left: 50px;
		float: left;
		color: white;
		font-weight: bold;
	}
	.line3{
		width: 10%;
		float: left;
		margin-left: 0px;
		margin-top: 38px;
		border-bottom: 3px solid white;
	}
}
.contact{
	height: 500px;
	width: 100%;
	background-color: #3d0f41 ;
	float: left;
}
.c_box{
	height: 480px;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	background-color: pink;
	float: left;	
}
.c_box img{
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
.c_box h3{
	margin-left: 30px;
	margin-top: 20px;
}
.c_box h1{
	margin-left: 60px;
	margin-top: 300px;
}